@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  font-family: 'Playfair Display', serif;
  text-align: center;
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: 0 auto;
}