#photo-template {
  display: none;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  margin: 15px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(29, 125, 242);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 8px #ccc;
}

a {
  text-decoration: none;
  color: #333;
}

li a {
  color: white;
}

li:hover {
  background-color: rgb(95, 162, 244);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  margin: 15px;
}

img {
  margin: 10px 0 10px 0;
  box-shadow: 2px 4px 18px #ccc;
}